.colorselector{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-top-left-radius: 10px;
    border-right: 2px solid rgb(245, 241, 241);

}
.colorselector__buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    padding: 12px;
    align-items: center;
}
.colorselector__colorbuttons{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    margin-top: 10px;
}
.colorselector__button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: rgb(6, 6, 6);
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 25px;
}
.colorselector__button-color {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: drop .5s forwards;
  animation-delay: .2s;
}

@keyframes drop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  25% {
    transform: translateY(-75px);
    opacity: 0.15;
  }
  50% {
    transform: translateY(-50px);
    opacity: 0.25;
  }
  75% {
    transform: translateY(-25px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rise {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    transform: translateY(-25px);
    opacity: 0.75;
  }
  50% {
    transform: translateY(-50px);
    opacity: 0.5;
  }
  75% {
    transform: translateY(-75px);
    opacity: 0.25;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}



